# ====================================
# ============  PORT AND OTHERS  ==============
# ====================================

PORT = port_number
MONGO_URL = "mongo_url"
APP_NAME = "app_name"
ADMIN_SECRET_KEY = "admin_secret_key"
CORS = "http://localhost:5173"

# ====================================
# ============  JWT TOKENS  ==============
# ====================================

ACCESS_TOKEN_SECRET = "access_token_secret"
ACCESS_TOKEN_EXPIRY = "access_token_expiry"
REFRESH_TOKEN_SECRET = "refresh_token_secret"
REFRESH_TOKEN_EXPIRY = "refresh_token_expiry"

# ====================================
# =======  CLOUDINARY CONFIGURATION  =======
# ====================================

CLOUDINARY_CLOUD_NAME = "your_cloud_name"
CLOUDINARY_API_KEY = "your_api_key"
CLOUDINARY_API_SECRET = "your_api_secret"

# ====================================
# ========  BREVO CONFIGURATION  ==========
# ====================================

BREVO_API_KEY = "your_api_key"
